.video {
    position:relative;
    display:inline-block;
    max-height: 85vh;
    max-width: 85vw;
    transform: translate(-50%, -50%);
    margin:50vh 50vw;
}

#nextVideo{
    position: absolute;
    transform: translate(-50%);
    margin-top: 92.5vh;
    margin-left: 70vw;
    cursor: pointer;
}

#prevVideo{
    position: absolute;
    transform: translate(-50%);
    margin-top: 92.5vh;
    margin-left: 30vw;
    cursor: pointer;
}