@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

#contact{
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: x-large;
    color:black;
}

#profile{
    margin-top: 10vh;
    height:50vh
}