#nav{
    position: absolute;
    top:0;
    font-size: 12px;
    transform: translate(0, -50%);
    margin-top: 50vh;
    margin-left: 40px;
    background-color: white;
    width:100px;
    height:13px;
    overflow: hidden;
    box-shadow: 0 22px 16px 0 rgba(0,0,0,0.24), 0 7px 50px 0 rgba(0,0,0,0.19);
    animation-name: position;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}



#nav:hover {
    background-color: white;
    width: 200px; 
    height:40px;
    margin-left: 0px;
    overflow: visible;
    opacity:1;
    box-shadow: 0 22px 16px 0 rgba(0,0,0,0), 0 7px 50px 0 rgba(0,0,0,0);
    animation-duration: 0s;
}

@keyframes position {
    0% {
        background-color: white;
    }

    50% {
        background-color: grey;
    }

    100% {
        background-color: white;
    }
}

li {
    list-style-type:none;
    
}

li:hover {
    background-color: white;
    opacity:1;
    border:none;
    color:black;
    width:175px;
    transition-duration: 0.4s;
    cursor:pointer;
    outline: none;
    box-shadow: 0 22px 16px 0 rgba(0,0,0,0.24), 0 7px 50px 0 rgba(0,0,0,0.19);
}